@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --color-red-dark: #c1121f;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  background-color: #f8f9fa;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
